USE [master]
GO
/****** Object:  Database [user50]    Script Date: 25.02.2026 12:12:57 ******/
CREATE DATABASE [user50]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user50', FILENAME = N'/var/opt/mssql/data/user50.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'user50_log', FILENAME = N'/var/opt/mssql/data/user50_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user50].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user50]
GO
/****** Object:  Table [dbo].[agents]    Script Date: 25.02.2026 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agents](
	[Id] [tinyint] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[MiddleName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NULL,
	[DealShare] [tinyint] NULL,
 CONSTRAINT [PK_agents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apartments]    Script Date: 25.02.2026 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apartments](
	[Id] [int] NOT NULL,
	[Address_City] [nvarchar](max) NOT NULL,
	[Address_Street] [nvarchar](max) NOT NULL,
	[Address_House] [int] NOT NULL,
	[Address_Number] [int] NOT NULL,
	[Coordinate_latitude] [decimal](9, 6) NOT NULL,
	[Coordinate_longitude] [decimal](9, 6) NOT NULL,
	[TotalArea] [nvarchar](max) NOT NULL,
	[Rooms] [tinyint] NOT NULL,
	[Floor] [tinyint] NOT NULL,
	[DistrictName] [nvarchar](max) NULL,
 CONSTRAINT [PK_apartments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 25.02.2026 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[Id] [tinyint] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[MiddleName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[districts]    Script Date: 25.02.2026 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[districts](
	[name] [nvarchar](200) NOT NULL,
	[area] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_districts_1] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[houses]    Script Date: 25.02.2026 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[houses](
	[Id] [int] NOT NULL,
	[Address_City] [nvarchar](200) NOT NULL,
	[Address_Street] [nvarchar](200) NOT NULL,
	[Address_House] [tinyint] NULL,
	[Address_Number] [nvarchar](200) NULL,
	[Coordinate_latitude] [decimal](9, 6) NOT NULL,
	[Coordinate_longitude] [decimal](9, 6) NOT NULL,
	[TotalFloors] [tinyint] NOT NULL,
	[TotalArea] [float] NOT NULL,
 CONSTRAINT [PK_houses_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lands]    Script Date: 25.02.2026 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lands](
	[Id] [int] NOT NULL,
	[Address_City] [nvarchar](200) NOT NULL,
	[Address_Street] [nvarchar](200) NOT NULL,
	[Address_House] [nvarchar](200) NULL,
	[Address_Number] [nvarchar](200) NULL,
	[Coordinate_latitude] [decimal](9, 6) NOT NULL,
	[Coordinate_longitude] [decimal](9, 6) NOT NULL,
	[TotalArea] [float] NOT NULL,
 CONSTRAINT [PK_lands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (1, N'Фахрутдинов', N'Роман', N'Рубинович', 20)
INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (4, N'Устинов', N'Максим', N'Алексеевич', 40)
INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (7, N'Сысоева', N'Людмила', N'Валентиновна', 45)
GO
INSERT [dbo].[apartments] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [DistrictName]) VALUES (1, N'Тюмень', N'Энергостроитель с/о', 25, 12, CAST(0.000000 AS Decimal(9, 6)), CAST(0.000000 AS Decimal(9, 6)), N'41.7', 1, 3, NULL)
INSERT [dbo].[apartments] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [DistrictName]) VALUES (2, N'Тюмень', N'Ермино', 8, 44, CAST(0.000000 AS Decimal(9, 6)), CAST(0.000000 AS Decimal(9, 6)), N'105', 3, 5, NULL)
INSERT [dbo].[apartments] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [DistrictName]) VALUES (3, N'Тюмень', N'Малиновка', 139, 6, CAST(0.000000 AS Decimal(9, 6)), CAST(0.000000 AS Decimal(9, 6)), N'62', 3, 2, NULL)
GO
INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (2, N'Семеновв', N'Евгенийй', N'Николаевичч', N'32-25-55', N'')
INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (3, N'Денисова', N'Олеся', N'Леонидовна', NULL, N'dummy@email.ru')
INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (5, N'Сафронов', N'Алексей', N'Вячеславович', NULL, N'client@esoft.tech')
GO
INSERT [dbo].[districts] ([name], [area]) VALUES (N'1-й Заречный мкр', N'((57.1749522939318,65.5538916631712),(57.1768053471396,65.5533337636961),(57.1779124727909,65.5526900335325),(57.1796138852,65.549900536157),(57.1768636177504,65.5443429990781),(57.1739732847701,65.5389571233762),(57.1732273555399,65.5403304143918),(57.1729418004967,65.5411458059323),(57.1719569100265,65.5464243932737),(57.1720151883157,65.5477118536009),(57.1712692194188,65.5507588430418),(57.1704299863521,65.5550074621214),(57.1749522939318,65.5538916631712))')
INSERT [dbo].[districts] ([name], [area]) VALUES (N'1-мкр', N'((57.1137744906982,65.5993050213258),(57.1136256459085,65.5995839710633),(57.1128230411438,65.5979317303102),(57.1129222732158,65.589606153528),(57.1125778783827,65.5888765926759),(57.1097408765818,65.585100042383),(57.1061213395916,65.5949061985415),(57.1123327140119,65.6033176060122),(57.1146728482688,65.6064300077323),(57.1161734355873,65.6023305530946),(57.1137744906982,65.5993050213258))')
GO
INSERT [dbo].[houses] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea]) VALUES (9, N'Тюмень', N'19-й мкр', 25, NULL, CAST(0.000000 AS Decimal(9, 6)), CAST(0.000000 AS Decimal(9, 6)), 2, 84.4)
INSERT [dbo].[houses] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea]) VALUES (10, N'Тюмень', N'1-й Заречный мкр', NULL, NULL, CAST(0.000000 AS Decimal(9, 6)), CAST(0.000000 AS Decimal(9, 6)), 3, 130)
INSERT [dbo].[houses] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea]) VALUES (11, N'Тюмень', N'20-й мкр', NULL, NULL, CAST(0.000000 AS Decimal(9, 6)), CAST(0.000000 AS Decimal(9, 6)), 1, 120)
GO
INSERT [dbo].[lands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea]) VALUES (12, N'Тюмень', N'Луговое', NULL, NULL, CAST(0.000000 AS Decimal(9, 6)), CAST(0.000000 AS Decimal(9, 6)), 20.3)
INSERT [dbo].[lands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea]) VALUES (13, N'Тюмень', N'Алексеевский хутор', NULL, NULL, CAST(0.000000 AS Decimal(9, 6)), CAST(0.000000 AS Decimal(9, 6)), 12.45)
INSERT [dbo].[lands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea]) VALUES (14, N'Тюмень', N'Суходольский', NULL, NULL, CAST(0.000000 AS Decimal(9, 6)), CAST(0.000000 AS Decimal(9, 6)), 12)
GO
USE [master]
GO
